@use '/src/styles/mixins/responsive';

.mainGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 100%;

  @include responsive.after('MD') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive.after('LD') {
    grid-template-columns: repeat(3, 1fr);
  }
}
