@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 6rem;
  color: colors.$GREY_800;
}

.integratedAdWrapper {
  @include flexbox.flexbox('center', 'center');
  flex-direction: column;
}
