@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.title {
  margin: 2.5rem 0;
  font-size: 2.6rem;
  font-weight: 900;
  color: colors.$GREY_800;
}

.integratedAdWrapper {
  @include flexbox.flexbox('center', 'center');
  flex-direction: column;
}