@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.title {
  margin-top: 6.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 6rem;
  color: colors.$GREY_800;
}

.mediaChannelWrapper {
  @include flexbox.flexbox('center', 'center');
  flex-direction: column;
}
