@use '/src/styles/constants/colors';

.adListWrapper {
  width: 32%;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid colors.$GREY_100;
  border-radius: 10px;
  transition: all 0.3s ease;

  > li {
    .listTitle {
      padding-bottom: 4rem;
      margin-top: 2rem;
      font-size: 1.6rem;
      font-weight: 700;
      color: colors.$GREY_800;
      border-bottom: 1px solid colors.$GREY_50;
    }
  }

  > button {
    padding: 1.2rem 2rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: colors.$GREY_800;
    border: 1px solid colors.$GREY_100;
    border-radius: 10px;
  }

  &:hover {
    border: 1px solid colors.$PRIMARY;
  }
}
