@use '/src/styles/constants/colors';

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 0;
  border-bottom: 1px solid colors.$GREY_50;

  .iconWrapper {
    position: absolute;
    top: 0;
  }

  .userName {
    font-size: 1.4rem;
  }
}
