@use '/src/styles/constants/colors';

.gridItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 1.8rem 1.8rem 1.8rem 4rem;
  background-color: colors.$WHITE;
  border: 0.1rem solid colors.$GREY_50;
  border-radius: 10px;
  transition: 0.2s;

  > title {
    display: block;
    font-size: 1.2rem;
    color: colors.$GREY_300;
  }

  .itemValue {
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    > strong {
      font-size: 1.6rem;
    }

    > div {
      font-size: 1.2rem;
      font-weight: bold;
      color: colors.$GREY_300;

      .triangleUp {
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        background: colors.$TRIANGLE_UP;
      }

      .triangleDown {
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
        background: colors.$TRIANGLE_DOWN;
      }
    }
  }
}
